.eunit
ebin
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
_build
concuerror_report.txt
TAGS
rebar3.crashdump
snabbkaffe
rebar.lock
*.pdf
*.tex
test/*_example.erl
doc/*
!doc/src
!doc/src/*
